<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.courier.db.dao.UserLoginRecordMapper">
    <!-- 根据 courier 和 状态查找  -->
    <select id="findByCourierAndStatus" resultType="com.courier.db.entity.UserLoginRecord">
        SELECT * FROM userLoginRecord WHERE userId =#{userId}
        <if test="status != null">
            <if test="status == true"> AND `status` = 1 </if>
            <if test="status == false"> AND `status` = 0 </if>
        </if>
    </select>

    <!-- 根据 userId 查找有效状态  -->
    <select id="findNewestByCourierId" resultType="com.courier.db.entity.UserLoginRecord">
        SELECT * FROM userLoginRecord WHERE userId =#{userId}
        order by createTime DESC limit 0,1
    </select>

    <!-- 根据uuid查找uid  -->
    <select id="findUserIdByUuid" resultType="java.lang.Long">
        SELECT userId FROM userLoginRecord WHERE uuid =#{uuid} order BY updateTime DESC limit 0,1
    </select>
    <!-- 根据uuid查找uid  -->
    <select id="findByUuid" resultType="com.courier.db.entity.UserLoginRecord">
        SELECT * FROM userLoginRecord WHERE uuid =#{uuid} order BY updateTime DESC limit 0,1
    </select>

    <!-- 根据userId查找有效  -->
    <select id="findValidByUserId" resultType="com.courier.db.entity.UserLoginRecord">
        SELECT * FROM userLoginRecord WHERE userId =#{userId} and status =1 order BY updateTime DESC limit 0,1
    </select>

    <!-- 根据uuid查找最新的有效登陆记录  -->
    <select id="findValidRecordByInvalidUuid" resultType="com.courier.db.entity.UserLoginRecord">
        SELECT * FROM userLoginRecord WHERE userId=(SELECT DISTINCT userId FROM userLoginRecord WHERE uuid =#{uuid}) AND `status`=1 ORDER BY createTime DESC LIMIT 0,1
    </select>

    <insert id="history" parameterType="java.util.Date">
        INSERT INTO userLoginRecordHistory (id,userId,uuid,ytoToken,version,deviceType,deviceNo, status,createTime,updateTime)
          SELECT
            id,userId,uuid,ytoToken,version,deviceType,deviceNo, status,createTime,updateTime
          FROM userLoginRecord WHERE createTime &lt;= #{date}
    </insert>

    <delete id="deleteHistory" parameterType="java.util.Date">
        DELETE FROM userLoginRecord WHERE createTime &lt;= #{date}
    </delete>

    <insert id="backup" parameterType="java.util.Date">
        INSERT INTO userLoginRecordBackup (id,userId,uuid,ytoToken,version,deviceType,deviceNo, status,createTime,updateTime)
          SELECT
            id,userId,uuid,ytoToken,version,deviceType,deviceNo, status,createTime,updateTime
          FROM userLoginRecordHistory WHERE createTime &lt;= #{date}
    </insert>

    <delete id="deleteBackup" parameterType="java.util.Date">
        DELETE FROM userLoginRecordHistory WHERE createTime &lt;= #{date}
    </delete>

</mapper>
